name: test windows latest
on: [push]
jobs:
  build:
    runs-on: [windows-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install 5 hooks (not oclint, iwyu on windows), python3
        run: choco install llvm uncrustify cppcheck -y --no-progress
      - name: Update paths (see https://stackoverflow.com/questions/60169752)
        run: echo "C:\Program Files\LLVM\bin;C:\ProgramData\chocolatey\lib\uncrustify\tools;C:\Program Files\Cppcheck" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Check installations
        run: |
          clang-format --version
          clang-tidy --version
          uncrustify --version
          cppcheck --version
          python3 --version
      - name: Install pip dependencies
        run: pip3 install cpplint pytest black pre-commit
      - name: Install hooks locally
        run: pip3 install .
      - name: Get command versions
        run: |
          clang-format --version
          clang-tidy --version
          cppcheck --version
          cpplint --version
      - name: Get python library versions
        run: |
          pytest --version
          pre-commit --version
      - name: Run tests
        run: python -m pytest -x -vvv
